/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*
	A list of variables can be found here.
	https://github.com/thomas-mcdonald/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_variables.scss
	
*/

/* palette */
$myAqua:			#00C993;
$myAquaDark:		#024930;
$myAquaLight:		#9BDBC1;
$myGrayVeryLight:	#eee;

/* my standard colors */
$myBlack: 			#000;
$myWhite:			#fff;

/* mapping to template */

$myPrimary:				$myAqua;
$myPrimaryDark:			$myAquaDark;
$myPrimaryLight:		$myAquaLight;
$myBackground:			$myWhite;

/* mapping to bootstratp */
$linkColor: 					$myPrimary;
$btnPrimaryBackgroundHighlight: $myPrimary;
$navbarBackgroundHighlight: 	$myPrimaryDark;
$navbarLinkColor: 				$myWhite;
$navbarLinkColorHover: 			$myPrimary;
$bodyBackground: 				$myBackground;
$dropdownBackground: 			$myBackground;
$dropdownLinkColor: 			$myPrimary;
$hrBorder: 						$myBlack;
$heroUnitBackground: 			lighten($myPrimaryLight, 20);
$tableBackgroundAccent:			$heroUnitBackground;
$dropdownLinkColorHover: 		$myPrimary;

@import "bootstrap";
@import "bootstrap-responsive";